<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbn.springbootinit.mapper.BookshelfMapper">

    <resultMap id="BaseResultMap" type="com.zbn.springbootinit.model.entity.Bookshelf">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="articleId" column="articleId"/>
        <result property="collectTime" column="collectTime"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,userId,articleId,collectTime,createTime,updateTime,
        isDelete
    </sql>
</mapper>
